<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Login</title>
</head>

<body>
    <br>
    <div class="container" style="background-color: #717792;">
        <div class="row">
            <div class="col-md-12">
                <h4 style="text-align: center ;color: #f7abd5;">Black Friday Sale</h4>
                <div class="col-md-3">
                    {% if register %}
                    <div class="panel panel-default" style="background-color: #e2e5ff;">
                        <div class="panel-heading text-center"
                            style="color: darkgreen; font-weight: 700; font-size: 18px;">
                            {{register[1]}} {{register[2]}}, {{register[5]}}
                        </div>

                        <div class="panel panel-body" style="background-color: #e2e5ff; display: inline-block;">
                            {% if cart %}
                            <div class="col-md-12" style="display: inline-flex;">
                                <p class="text-center title" style="font-weight: 700;color: #57aca0;font-size: 15px;">
                                    Item Added : {{cart | length}}</p>
                                <div>
                                    <form action="/cart/buy" method="get">
                                        <input type="submit" name="submit" class="btn btn-primary btn-sm"
                                            value="Purchase">
                                    </form>
                                </div>
                            </div>

                            {% endif %}
                            <hr>
                            <div class="col-md-12">
                                <div style="text-align: end;" class="col-md-6">
                                    <form action="/user-profile" method="get">
                                        <input type="submit" name="submit" class="btn btn-primary btn-sm"
                                            value="User Profile">
                                    </form>
                                </div>
                                <div style="text-align: end;" class="col-md-6">
                                    <form action="/logout" method="get">
                                        <input type="submit" name="submit" class="btn btn-primary btn-sm"
                                            value="Logout">
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endif %}
                    <div class="panel panel-body" style="background-color: #e2e5ff;">
                        <h2>Categories</h2>
                        <ul class="list-group">
                            {% for category in categoryList %}
                            <a href="/dashboard/{{category['category']}}">
                                <li class="list-group-item" style="font-weight: 600;">{{category['category']}}</li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-md-9">
                    {% for product in products %}
                    {% if product['price'] %}
                    <div class="col-md-6">
                        <div class="panel panel-body" style="background-color: #e2e5ff;">
                            <div class="col-md-6">
                                <img src="{{ product['img'] }} " alt="" srcset="">
                                <div style="font-size: 13px;font-weight: 500; color: #cc13a4;">
                                    {{product['brand']}}
                                </div>
                            </div>
                            <div class="col-md-6" style="display: inline-block;">
                                <!-- <a class="title" style="font-weight: 600;color: #fa8072;">{{product['title']}}</a> -->
                                <a href="/dashboard/details/{{loop.index}}"
                                    style="font-weight: 600;color: #fa8072;">{{product['title']}}</a>
                            </div>
                            <div class="col-md-4" style="display: inline-block;">
                                <div>
                                    <p class="title" style="font-weight: 700;color: #2b48c9;font-size: 20px;">
                                        {{product['price']}}</p>
                                    <p style="text-decoration: line-through;font-size: 20px;color: #5f9ea0;">
                                        {{product['deal-price']}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!--  <button class="btn btn-primary btn-small" type="submit">Buy</button> -->